@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #A3AB78, #818274);
    

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #818274;
    width: 900px;
    padding: 10px;
    margin: auto;
}

h2{
    color: #10454F;
}

h1{
    color: #506266;
    text-align: center;
    text-shadow: 1px 1px 2px #384547;
}

p{
    text-align: justify;
}