@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}

/* PARA IMPRESSORAS */

menu{
    display: none;
}

html{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1em;
}

article::after{
    content: 'este artigo foi impresso através do site www.blablabla.com';
}

